<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="w-screen h-screen bg-gray-900 p-10">
            <div class="mb-5">
                <a href="/" class="text-cyan-300">back to home</a>
            </div>
            <h1 class="text-white text-4xl mb-10">Update User</h1>
            <form action="/update/<%=user._id  %>" method="post" class="block">
                <input
                    type="text"
                    value="<%=user.name %>"
                    name="name"
                    class="w-1/3 bg-zinc-700 text-white rounded-md border-2 border-white mt-5 otline-none py-2 px-5 text-xl block"
                />
                <input
                    type="email"
                    value="<%=user.email %>"
                    name="email"
                    class="w-1/3 bg-zinc-700 text-white rounded-md border-2 border-white mt-5 otline-none py-2 px-5 text-xl block"
                />
                <input
                    type="text"
                    value="<%=user.image%>"
                    name="image"
                    class="w-1/3 bg-zinc-700 text-white rounded-md border-2 border-white mt-5 otline-non py-2 px-5 text-xl block"
                />
                <input type="submit" value="Update User" class="text-xl text-black bg-yellow-400 py-2 px-6 mt-6 rounded-lg">
            </form>
            <div class="text-cyan-300 mt-10">
                <a href="/read">Show all User</a>
            </div>
        </div>
    </body>
</html>
